#app {
    height: 100vh;
    padding-top: 30px;
    box-sizing: border-box;
    .cascader {
        height: 30px;
        margin-top: -30px;
    }
    .row {
        height: 100%;
        .code-wrapper {
            height: 100%;
            width: 50%;
            float: left;
            position: relative;
            .code {
                height: 100%;
                width: 100%;
                overflow: auto;
                &::selection {
                    background-color: #20a0ff;
                    color: white;
                }
            }
            .copy {
                position: absolute;
                right: 15px;
                top: 15px;
            }
        }
        .api-layout {
            height: 100%;
            border-left: 1px solid #000;
            margin-left: -1px;
            float: left;
            width: 50%;
            overflow: auto;
            .api-history {
                .api-history-item {}
            }
            .api-rusult {
                &::selection {
                    background-color: #20a0ff;
                    color: white;
                }
            }
        }
    }
}