#app {
    height: 100vh;
    padding-top: 30px;
    box-sizing: border-box;
    .cascader {
        height: 30px;
        margin-top: -30px;
    }
    .row {
        height: 100%;

        .api-history-wrapper {
            height: 100%;
            position: absolute;
            left: -200px;
            top: 0;
            width: 200px;
            transition: left .3s cubic-bezier(0.075, 0.82, 0.165, 1);
            background-color: #fff;
            z-index: 1;

            &.active{
                left: 0;
                .material-icon{
                    transform: translate(50%,-50%);
                }
            }

            .api-history {
                height: 100%;
                overflow-y: auto;
                .api-history-item {
                  cursor: pointer;

                  &.acitve{
                      background-color: #20a0ff;
                      color: white;
                 }
              }
            }

            .material-icon{
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(100%,-50%);
            }
          }
        
        .code-wrapper {
            height: 100%;
            width: 50%;
            float: left;
            position: relative;
            .code {
                height: 100%;
                width: 100%;
                overflow: auto;
                &::selection {
                    background-color: #20a0ff;
                    color: white;
                }
            }
            .copy {
                position: absolute;
                right: 15px;
                top: 15px;
            }
        }

        
        .api-rusult {
            height: 100%;
            overflow: auto;
            border-left: 1px solid #000;
            margin-left: -1px;
            float: left;
            width: 50%;
            &::selection {
                background-color: #20a0ff;
                color: white;
            }
        }
    }
}