@import "./element.scss";
@import "./element-extra.scss";
@import "./reset.scss";

.material-icon{
    display: inline-block;
    border: 1px solid #20a0ff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px !important;
    text-align: center;
    background-color: #20a0ff;
    color: white;
    box-shadow: 0 0 10px #666;
    cursor: pointer;
}